In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
sba = pd.read_csv('SBAcase.11.13.17.csv')

In [3]:
sba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2102 entries, 0 to 2101
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Selected           2102 non-null   int64
 1   LoanNr_ChkDgt      2102 non-null   int64
 2   Name               2102 non-null   object
 3   City               2102 non-null   object
 4   State              2102 non-null   object
 5   Zip                2102 non-null   int64
 6   Bank               2099 non-null   object
 7   BankState          2099 non-null   object
 8   NAICS              2102 non-null   int64
 9   ApprovalDate       2102 non-null   int64
 10  ApprovalFY         2102 non-null   int64
 11  Term               2102 non-null   int64
 12  NoEmp              2102 non-null   int64
 13  NewExist           2101 non-null   float64
 14  CreateJob          2102 non-null   int64
 15  RetainedJob        2102 non-null   int64
 16  FranchiseCode      2102 non-null   int64
 17  UrbanRural         2102 non-null   int64
 18  RevLineCr          2100 non-null   object
 19  LowDoc             2099 non-null   object
 20  ChgOffDate         697 non-null    float64
 21  DisbursementDate   2099 non-null   float64
 22  DisbursementGross  2102 non-null   int64
 23  BalanceGross       2102 non-null   int64
 24  MIS_Status         2102 non-null   object
 25  ChgOffPrinGr       2102 non-null   int64
 26  GrAppv             2102 non-null   int64
 27  SBA_Appv           2102 non-null   int64
 28  New                2102 non-null   int64
 29  RealEstate         2102 non-null   int64
 30  Portion            2102 non-null   float64
 31  Recession          2102 non-null   int64
 32  daysterm           2102 non-null   int64
 33  xx                 2099 non-null   float64
 34  Default            2102 non-null   int64
dtypes: float64(5), int64(22), object(8)
memory usage: 574.9+ KB

In [4]:
sba.head(5)

,Selected,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,...,ChgOffPrinGr,GrAppv,SBA_Appv,New,RealEstate,Portion,Recession,daysterm,xx,Default
0,0,1004285007,SIMPLEX OFFICE SOLUTIONS,ANAHEIM,CA,92801,CALIFORNIA BANK & TRUST,CA,532420,15074,...,0,30000,15000,0,0,0.5,0,1080,16175.0,0
1,1,1004535010,DREAM HOME REALTY,TORRANCE,CA,90505,CALIFORNIA BANK & TRUST,CA,531210,15130,...,0,30000,15000,0,0,0.5,1,1680,17658.0,0
2,0,1005005006,"Winset, Inc. dba Bankers Hill",SAN DIEGO,CA,92103,CALIFORNIA BANK & TRUST,CA,531210,15188,...,0,30000,15000,0,0,0.5,0,1080,16298.0,0
3,1,1005535001,Shiva Management,SAN DIEGO,CA,92108,CALIFORNIA BANK & TRUST,CA,531312,15719,...,0,50000,25000,0,0,0.5,0,1080,16816.0,0
4,1,1005996006,"GOLD CROWN HOME LOANS, INC",LOS ANGELES,CA,91345,SBA - EDF ENFORCEMENT ACTION,CO,531390,16840,...,0,343000,343000,0,1,1.0,0,7200,24103.0,0